@charset "utf-8";

@font-face {
    font-family: myCustomeFont;
    src: url(Poppins/Poppins-Bold.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'myCustomeFont', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

#headerTop{
    display: flex;
    align-items: center;
}

.headerLeft, #logo, #userPanel{
    flex: 1;
}

#logo{
    text-align: center;
    margin-left: 50px;
}

#logo img{
    margin: 5px;
    height: 150px;
    width: auto;
}

#userPanel{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 80px;
    color: #0e4e8f;
    font-size: 18px;
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: #0e4e8f;
    font-size: 18px;
    font-family: 'myCustomeFont', Arial, Helvetica, sans-serif;
}

button a:hover{
    text-decoration: underline;
}

#navBar > ul {
    display: flex;
    justify-content: space-around;
    background-color: #0e4e8f;
    list-style: none;
    margin: 10px;
    padding: 12px;
    color: white;
    font-size: 18px;
}

#navBar ul li a {
    text-decoration: none;
    color: white;
}

#navBar ul li a:hover {
    color: #fbcd19;
    transition: 0.2s ease;
}

#navBar ul li a.active {
    color: #fbcd19;
}

main{
    min-height: 100vh;
    background-image: url(BookstoreCoverImage.png);
    background-size: cover;
    background-position: center;
    margin: 10px;
}

/* NEWS SECTION (OUTER BOX) */
.newsSection{
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    border-radius: 15px;

    /* Semi-transparent background */
    background: rgba(255, 255, 255, 0.7);

    /* Glass effect */
    backdrop-filter: blur(6px);

    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

/* Title */
.newsSection h1{
    text-align: center;
    margin-bottom: 20px;
    color: #0e4e8f;
}

/* INNER CONTAINER */
.newsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* INDIVIDUAL NEWS BOXES */
.newsBox{
    width: 280px;
    padding: 15px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.9);

    color: #0e4e8f;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.newsBox h2{
    margin-top: 0;
}
